.contentBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;

  position: relative;

}

.contentBlock__notRequired:before {
  content: '';

  position: absolute;
  top: -10px;

  width: 100%;
  height: 1px;

  background-color: #777777;
}

.metaTable {
  display: flex;
  flex-direction: column;
}
.metaTable__header {
  display: flex;
  flex-direction: row;

  padding: 16px 20px;

  border: 1px solid #cecece;
  border-radius: 2px 2px 0 0;

  background-color: #ececec;
}
.metaTable__content {
  min-height: 200px;

  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-radius: 0 0 2px 2px;

  background-color: #fcfcfc;
}
.metaTable__btnAdd {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: transparent;

  border: none;

  color: #2e76e2;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;

  cursor: pointer;
}
.meta {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 16px 20px;

  border-bottom: 1px solid #cecece;
}
.meta__key {
  width: 45%;

  position: relative;
}
.meta__value {
  width: 45%;

  position: relative;
}
.metaInput {
  max-width: 80%;

  padding: 4px 0;

  border: 1px solid #9d9d9d;

  background-color: #ffffff;
}
.meta__empty {
  background-image: url("../../assets/icons/emptyData.svg");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.meta__removeBtn {
  width: 10%;

  position: relative;
}
.metaBtn__remove {
  width: 20px;
  height: 20px;

  background-color: transparent;

  border: none;

  position: relative;

  cursor: pointer;
}
.metaBtn__remove:before,
.metaBtn__remove:after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;

  width: 2px;
  height: 80%;

  background-color: #e74343;
}
.metaBtn__remove:after {
  rotate: 45deg;
}
.metaBtn__remove:before {
  rotate: -45deg;
}

.meta__key:after,
.meta__value:after {
  content: '';

  position: absolute;
  right: 10px;
  top: -16px;

  width: 1px;
  height: calc(100% + 32px);

  background-color: #cecece;
}

.btnAdd {
  padding: 8px 0;
  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 1px dashed #777777;

  cursor: pointer;

  position: relative;
}
.btnAdd:before {
  content: '';

  position: absolute;
  top: -10px;

  width: 100%;
  height: 1px;

  background-color: #777777;
}
.btnRemove {
  position: absolute;
  right: 0;

  padding: 4px 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 1px dashed #777777;

  color: #e74343;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;

  cursor: pointer;
}
