.collapse {

}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border: none;

  background-color: transparent;

  cursor: pointer;
}
.content {
  margin-top: 20px;

  transform: translateY(0);
  transition: all .5s ease-in-out;
}
.hidden {
  position: absolute;
  top: -100%;

  transform: translateY(-100%);
  transition: all .5s ease-in-out;
}

.openBtn {
  width: 20px;
  height: 20px;

  border: none;

  background-color: transparent;
  background-image: url("../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;

  rotate: 0deg;
  transition: rotate .5s ease-in-out;
}
.rotate {
  rotate: 90deg;
  transition: rotate .5s ease-in-out;
}